@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(233, 47%, 7%);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  border-radius: 18px;
}

.text {
  padding: 40px;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Inter", sans-serif;
  background-color: hsl(244, 38%, 16%);
  border-radius: 18px 0 0 18px;
}

.text h3 {
  font-size: 32px;
}

.text h3 span {
  color: hsl(277, 64%, 61%);
}

.text p {
  color: hsla(0, 0%, 100%, 0.4);
  padding-top: 10px;
  line-height: 1.5rem;
}

.img {
  background-image: url("./images/image-header-desktop.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 18px 18px 0;

  width: 100%;
  height: auto;
}

.alt {
  display: flex;
  margin-top: 45px;
  font-family: "Inter", sans-serif;
  gap: 5rem;
}

.alt h3 {
  font-size: 20px;
}

.alt p {
  font-size: 8px;
}

.img .imgback {
  border-radius: 0 18px 18px 0;
  width: 100%;
  height: 100%;
  background-color: hsla(277, 64%, 61%, 0.525);
}

